{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 40%;
        }
    </style>
{% endblock %}
{% block content %}
    {% block header %}{{ parent() }}{% endblock %}
    <div class="container align-middle">
        <h3>Walking edit</h3>
        <br>
        {% form_theme edit_form 'bootstrap_3_layout.html.twig'  %}
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" class="btn btn-warning" />
        {{ form_end(edit_form) }}
        <br>
        <br>
        <p><a href="{{ path('walking_index') }}">Back to the list</a></p>
    </div>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
