{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        th.header_cursor, .page-item {
          cursor: pointer;
        }
        .rows:hover {
          background-color: #f5f5f5;
        }
        .graphic-area {
            height:100%;
            min-height: 200px;
            background-color: #f5f5f5;
            position: relative;
            bottom:0;
            left:0;
            border-radius: 4px;
        }
        #ex1Slider .slider-selection {
            background: #BABABA;
        }
        .my-div {
            position: absolute;
            width: 50px;
            bottom:0;
            max-height: 188px;
            color: black;
            font-size: 0.8em;
            font-weight: bold;
        }
        .my-span {
            position: relative;
            display: none;
        }
        #line {
            position: absolute;
            bottom: 100px;
            display: none;
            height: 1px;
            width: 100%;
            background-color: rgb(109,202,78);
        }
        #myTable > thead > tr > th,
        #myTable > tbody > tr > th,
        #myTable > tfoot > tr > th,
        #myTable > thead > tr > td,
        #myTable > tbody > tr > td,
        #myTable > tfoot > tr > td {
          padding: 1px;
        }
        .rows {
            display: none;
        }
        .disabled {
            pointer-events: none;
        }
    </style>

{% endblock %}
{#end block stylesheets#}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <h1 class="text-left">&nbsp&nbsp Walking list</h1>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6"> {# table #}
                <div id="div_table">
                    <table class="tablesorter table table-condensed" id="myTable">
                        <thead>
                            <tr>
                                {# <th class="header_cursor" id="th_id">Id</th> #}
                                <th class="header_cursor">Date</th>
                                <th class="header_cursor">Distance</th>
                                <th class="header_cursor">Step</th>
                                <th class="header_cursor">Comment</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for walking in walkings %}
                            <tr data-url="{{ path('walking_row', {'id': walking.id}) }}" class="rows">
                                {# <td>{{ walking.id }}</td> #}
                                <td>{{ walking.date|date("d/m/Y") }}</td>
                                <td>{{ walking.distance }}</td>
                                <td>{{ walking.step }}</td>
                                <td>{{ walking.comment }}</td>
                                <td>
                                    <a href="{{ path('walking_show', { 'id': walking.id }) }}" class="btn btn-md glyphicon glyphicon-zoom-in" role="button"></a>
                                    <a href="{{ path('walking_edit', { 'id': walking.id }) }}" class="btn btn-md glyphicon  glyphicon-pencil" role="button"></a>
                                    <a href="{{ path('walking_delete', { 'id': walking.id }) }}" class="btn btn-md glyphicon  glyphicon-remove" role="button"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div> {# end table #}

            <div class="col-md-6"> {# graphic area #}
                <br>
                <div class="graphic-area">
                    <div id="line"></div>
                </div>
                <br>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item" id="previous">
                      <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {# <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li> #}
                    <li class="page-item" id="next">
                      <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div> {# graphic area #}
        </div> {# end row #}
        <div class="row">
            <div class="col col-md-2">
                <a id="create" href="{{ path('walking_new') }}">Create a new walking</a>
            </div>
        {# <div class="col col-md-2">
                <a id="display_hide_table" href="#">Display/Hide Table</a>
            </div> #}
            {# <div class="col col-md-2">
                <a id="show_hide_all" href="#">Show / Hide All</a>
            </div> #}
        </div>   
    </div> {# end container #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src={{ asset('/assets/vendor/js/jquery.tablesorter.min.js') }}></script>
    <script type="text/javascript"  src={{ asset('/assets/vendor/js/main.js') }}></script>
{% endblock %}
