{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}>
    <style>
        th.header_cursor
        {
          cursor: pointer;
          font-weight: bold;
          background-repeat: no-repeat;
          background-position: center left;
        }
        tr:hover
        {
          background-color: #f5f5f5;
        }
        .graphic-area
        {
            height:100%;
            min-height: 150px;
            background-color: #f5f5f5;
            position: relative;
            bottom:0;
            left:0;
            border-radius: 4px;
        }
        .code
        {
            background-color: #f5f5f5;
            color: #337ab7;
        }
        #ex1Slider .slider-selection
        {
            background: #BABABA;
        }
        .my-div, .barre
        {
            position: absolute;
            width: 50px;
            bottom:0;
            max-height: 148px;
            color: black;
            font-size: 0.8em;
            font-weight: bold;

        }
    </style>

{% endblock %}
{#end block stylesheets#}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Walking list</h1>
        <br>
        <div id="div_table">
            {# table #}
            <table class="tablesorter table table-condensed" id="myTable">
                <thead>
                    <tr>
                        {# <th class="header_cursor">Id</th> #}
                        <th class="header_cursor">Date</th>
                        <th class="header_cursor">Distance</th>
                        <th class="header_cursor">Step</th>
                        <th class="header_cursor">Comment</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for walking in walkings %}
                    <tr data-url="{{ path('walking_row', {'id': walking.id}) }}">
                        {# <td>{{ walking.id }}</td> #}
                        <td>{{ walking.date|date("d/m/Y") }}</td>
                        <td>{{ walking.distance }}</td>
                        <td>{{ walking.step }}</td>
                        <td>{{ walking.comment }}</td>
                        <td>
                            <a href="{{ path('walking_show', { 'id': walking.id }) }}" class="btn btn-md glyphicon glyphicon-zoom-in" role="button"></a>
                            <a href="{{ path('walking_edit', { 'id': walking.id }) }}" class="btn btn-md glyphicon  glyphicon-pencil" role="button"></a>
                            <a href="{{ path('walking_delete', { 'id': walking.id }) }}" class="btn btn-md glyphicon  glyphicon-remove" role="button"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div> {# end div_table #}
    </div> {# end first container #}

    <div class="container">
        <div class="row">
            <div class="col col-md-2">
                <a id="create" href="{{ path('walking_new') }}">Create a new walking</a>
            </div>
            <div class="col col-md-2">
                <a id="display_hide_list" href="#">Display/Hide List</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {# Slider #}
        <div class="well">
           <input id="my_slider" data-slider-id="ex1Slider" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" style="display: none;">
        </div>
        <div class="graphic-area">
            <code class="code">Click on row or use the slider to display graphic</code>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript"  src={{ asset('/assets/vendor/js/jquery.tablesorter.min.js') }}></script>
    <script type="text/javascript"  src={{ asset('assets/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}></script>
    <script type="text/javascript"  src={{ asset('/assets/vendor/js/main.js') }}></script>
{% endblock %}
