{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Add{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 40%;
        }
    </style>
{% endblock %}
{% block content %}
    {% block header %}{{ parent() }} {% endblock %}
    <div class="container">
        <h3>New Walking Row</h3>
        <br>
        {% form_theme form 'bootstrap_3_layout.html.twig'  %}
        {{ form_start(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-group'}}) }}
        <input type="submit" value="Create" class="btn btn-primary" />
        {{ form_end(form) }}
        <br><p><a href="{{ path('walking_index') }}">Back to the list</a></p>
    </div>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
