{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Swimming{% endblock %}
{% block stylesheets %}
     {{ parent() }}
    <link rel="stylesheet" href={{ asset('assets/vendor/bootstrap/css/bootstrap-slider.min.css') }} />
    <style>
    .rows {display: none;}
    .rows:hover {
    background-color: #f5f5f5;
    }
    .graphic-area {
    position: relative;
    height: 350px;
    width: 300px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 20px;
    /*background-image: url({{ asset('assets/images/piscine9.jpg') }});
    background-repeat: no-repeat;*/
    background: aqua;
    background: linear-gradient(darkblue, aqua, darkblue); 
    }
    #container { border-radius: 20px;}
    #line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #AFC440;
    z-index: 100;
    display: none;
    }
    .page-item {cursor: pointer;}
    #myTable > thead > tr > th,
    #myTable > tbody > tr > th,
    #myTable > tfoot > tr > th,
    #myTable > thead > tr > td,
    #myTable > tbody > tr > td,
    #myTable > tfoot > tr > td {
    padding: 1px;
    }
    #navigation{display: none;}
    .md-40 { font-size: 40px; }
    .content{
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.3);
    }
    #col_nav {top:55px;}
    .nopadding {padding: 1px !important;margin: 1px !important;}
    .material-icons{line-height: 70px;}
    .link{color:white;}
    #toggle {width: 30px;height: 30px;top:185px;}
    #toggle div {
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 10px;
    }
    #btn_settings {margin-left: 150px;}
    #toggle.on .one {transform: rotate(45deg) translate(5px, 5px);}
    #toggle.on .two {opacity: 0;}
    #toggle.on .three {transform: rotate(-45deg) translate(7px, -8px);}
    #ex1Slider .slider-selection {background: #BABABA;}
    #ex1Slider .slider-selection {background: #BABABA;}
    .slider.slider-horizontal{width: 98%;}
    .background-slider {
    display: none;
    float: left;
    width: 300px;
    min-height: 20px;
    padding: 12px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 10px;
    }
    div.tooltip.tooltip-main.top{font-size: 10px;}
    #glass {
    width: 300px;
    height: 350px;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.5);
    }
    .water {
    background-position: top right;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0em;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    opacity: 0.7;
    }
   .water-animate {
    background-position: top left;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    }
    
    </style>
{% endblock %}
{% block content %}
    {% block header %}{{ parent() }}{% endblock %}
    <div class="container-fluid nopadding center">
        <div class="row-fluid" >
            <div class="col col-md-1 nopadding" id="toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="col col-md-1 nopadding" id="col_nav">
                <div id="navigation">
                    <a class="link" href="http://127.0.0.1/keep_slim/web/app_dev.php/index">
                        <div class="content" id="content_home">
                            <i class="material-icons md-40 md-inactive" id="home">home</i>
                        </div>
                    </a>
                    <a class="link" href="http://127.0.0.1/keep_slim/web/app_dev.php/walking">
                        <div class="content" id="content_walk">
                            <i class="material-icons md-40 md-inactive" id="walk">directions_walk</i>
                        </div>
                    </a>
                    <a class="link" href="#">
                        <div class="content" id="content_bike">
                            <i class="material-icons md-40 md-inactive" id="bike">directions_bike</i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col col-md-4"> {# table #}
                <div id="div_table">
                    <table class="tablesorter table table-condensed" id="myTable">
                        <thead>
                            <tr>
                                <th class="header_cursor">Date</th>
                                <th class="header_cursor">Distance</th>
                                <th class="header_cursor">Swimming pool</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for swimming in swimmings %}
                                <tr class="rows">
                                    <td>{{ swimming.date|date("d/m/Y") }}</td>
                                    <td>{{ swimming.distance }}</td>
                                    <td>{{ swimming.swimmingPool }}</td>
                                    <td>
                                        <a href="{{ path('swimming_show', { 'id': swimming.id }) }}" class="btn btn-md glyphicon glyphicon-zoom-in" role="button"></a>
                                        <a href="{{ path('swimming_edit', { 'id': swimming.id }) }}" class="btn btn-md glyphicon  glyphicon-pencil" role="button"></a>
                                        <a href="{{ path('swimming_delete', { 'id': swimming.id }) }}" class="btn btn-md glyphicon  glyphicon-trash" role="button"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a id="create" href="{{ path('swimming_new') }}">New Swimming Row</a>
            </div> {# end table #}
            <div class="col col-md-offset-2 col-md-4"> {# graphic area #}
                <br>
                <div class="row graphic-area">
                    <div id="container">
                        <div id="line"></div>
                        <div id="glass">
                            <div class="water"></div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col col-md-12 background-slider">
                        {# Slider #}
                        <div class="">
                            <input id="mySlider" data-slider-id="ex1Slider" type="text" data-slider-min="2000" data-slider-max="4000" data-slider-step="1000" data-slider-value="3000" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12">
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li class="page-item {# disabled #}" id="first"><a class="page-link" href="#">&larr; First</a></li>
                                <li class="page-item" id="previous">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span>Previous</span>
                                    </a>
                                </li>
                                <li class="page-item" id="next">
                                    <a class="page-link" aria-label="Next">
                                        <span>Next</span>
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item {# disabled#}" id="last">
                                    <a class="page-link" href="#">Last &rarr;</a>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-default btn-sm" id="btn_settings">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> {# graphic area #}
        </div>
    </div>
    {% block footer %} {{ parent() }} {% endblock %}
{% endblock %} {#end block content#}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"  src={{ asset('assets/vendor/js/bootstrap-slider.min.js') }}></script>
    <script type="text/javascript"  src={{ asset('assets/js/swimming.js') }}></script>
{% endblock %}