{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 40%;
        }
    </style>
{% endblock %}
{% block content %}
    {% block header %}{{ parent() }}{% endblock %}
    <div class="container">
        <h3>Swimming</h3>
        <br>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ swimming.id }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ swimming.date|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <th>Distance</th>
                    <td>{{ swimming.distance }}</td>
                </tr>
                {# <tr>
                    <th>Nboftimesperweek</th>
                    <td>{{ swimming.nbOfTimesPerWeek }}</td>
                </tr> #}
                <tr>
                    <th>Swimming pool</th>
                    <td>{{ swimming.swimmingPool }}</td>
                </tr>
            </tbody>
        </table>
         <br>
            <p><a href="{{ path('swimming_index') }}">Back to the list</a></p>
        {# <ul>
            <li>
                <a href="{{ path('swimming_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('swimming_edit', { 'id': swimming.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul> #}
    </div>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
